services:
  - type: web
    name: remuneraciones-backend
    runtime: node
    repo: https://github.com/javier-albino/remuneraciones-backend
    branch: main
    buildCommand: npm ci
    startCommand: npm run start:prod
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 3000
        - key: DATABASE_URL
        sync: false 
