name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3 #clona el repositorio
      - name: Configurar Node.js  #configura la versi贸n de node
        uses: actions/setup-node@v3
        with:
          node-version: 18 # O tu versi贸n preferida

      - name: Instalar dependencias
        run: npm ci

      - name: Construir aplicaci贸n
        run: npm run build # O tu comando de compilaci贸n

      - name: Ejecutar pruebas
        run: npm test # O tu comando de prueba